/* Import Eurostile font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.05em;
}

.CityTempTime {
	position: fixed;
	z-index: 3;
	top: 40%;
	left: 33%;
	color: white;
}

#clock {
	font-size: 6vw;
	margin: 0;
	display: flex;
}

.info {
	display: flex;
	justify-content: center;
	line-height: 0;
	font-size: 1vw;
}

#city {
  margin-left: 10px;
  margin-right: 10px;
}

#temp {
  margin-left: 10px;
  margin-right: 10px;
}

#wind {
  margin-left: 10px;
  margin-right: 10px;
}

/* YOUTUBE RELATED SHIT STARTS HERE */
.yt-cover {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	z-index: 2;
}

.yt-video {
	z-index: 1;
	position: relative;
	height: 100%;
	width: 100%;
}
.yt-video::after {
	padding-top: 56.25%; /* 16:9 ratio - divide height by width and multiply by 100 */
	display: block;
	content: '';
}

.yt-video > iframe {
	position: absolute;
	width: 100%;
}

@media(max-aspect-ratio: 16/9) {
    body {
        position: relative;
        min-height: 100vh;
    }
    .yt-video {
        position: absolute;
    }
    .yt-video > iframe {
        position: relative;
        width: 100%;
        height:  100%;
    }
}

/* YOUTUBE RELATED SHIT ENDS HERE */
