body {
	margin: 0;
}
.yt-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ytp-title-text {
	font-size:0px
}
.ytp-chrome-top ytp-show-cards-title {
	opacity:0
}
.yt-cover{
	top: 0;
	bottom:0;
	right:0;
	left:0;
	position: absolute;
	z-index:1000;
}
